<div class="container mt-5">
  <h1>Stupid Coaching</h1><BR>

  <blockquote class="blockquote px-3">
    <p><%= @question %></p>
    <footer class="blockquote-footer mt-1"><em>You</em></footer>
  </blockquote>

  <blockquote class="blockquote px-3 bg-warning bg-opacity-10">
    <p><%= @answer %></p>
    <footer class="blockquote-footer mt-1"><em>Your coach</em></footer>
  </blockquote>

  <%= link_to "Ask a new question", ask_path %>
</div>
