<h1>Stupid Coaching</h1>

<p><q><%= @question %></q> - You</p>

<p><q><% if @question == "I am going to work" %>
  <%= @answer[0] %>
<% elsif @question.end_with?("?") %>
  <%= @answer[1] %>
<% else %>
  <%= @answer[2]%>
<% end %></q> - Your coach</p>
